/* SPECIES */

.species {
    background: linear-gradient(90deg, #FFDB00 0%, #716100 100%);

    margin-top: 5%;
    margin-bottom: 5%;
    

    width: 90%;

    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    border-start-end-radius: 15px;
    border-start-start-radius: 15px;

    border-end-end-radius: 15px;
    border-end-start-radius: 15px;

    text-align: center;

    
}

.species h6 {
    padding-top: 3%;
    padding-bottom: 3%;
    
    color: white;

    font-size: 20px; 
    font-family: Krona One; 
    font-weight: 400;
}

.species p {
    background: white;

    padding-top: 3%;
    padding-bottom: 3%;

    font-size: 20px; 
    font-family: Krona One; 
    font-weight: 400;
    
    color: black;

    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    
}


/* GENDER */

.gender {
    background: linear-gradient(90deg, #FFDB00 0%, #716100 100%);

    margin-top: 5%;
    margin-bottom: 5%;
    

    width: 90%;

    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    border-start-end-radius: 15px;
    border-start-start-radius: 15px;

    border-end-end-radius: 15px;
    border-end-start-radius: 15px;

    text-align: center;

    
}

.gender h6 {
    padding-top: 3%;
    padding-bottom: 3%;
    
    color: white;

    font-size: 20px; 
    font-family: Krona One; 
    font-weight: 400;
}

.gender p {
    background: white;

    padding-top: 3%;
    padding-bottom: 3%;

    font-size: 20px; 
    font-family: Krona One; 
    font-weight: 400;
    
    color: black;

    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;

    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    
}